# Git
.git
.gitignore
.gitattributes

# GitHub
.github

# Documentation
README.md
CHANGELOG.md
CONTRIBUTORS.md
LICENSE
CODEOWNERS

# Development
Makefile
cliff.toml
*.out
vendor/
bin/
dist/
contributors-action

# IDE
.idea
.vscode
*.code-workspace

# OS metadata
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Environment
.env
.env.test

# Test files
*_test.go
